<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= render_existing(@view_module, "meta." <> @view_template, assigns) || render(Ap.LayoutView, "meta.html", assigns) %>

    <link rel="dns-prefetch" href="//res.cloudinary.com">

    <%= render Ap.LayoutView, "common_social_meta.html" %>
    <%= render_existing(@view_module, "social_meta." <> @view_template, assigns) || render(Ap.LayoutView, "social_meta.html", assigns) %>

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/images/favicon.png" sizes="16x16" type="image/png">

    <%= if Mix.env == :prod do %>
      <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Source+Sans+Pro:400,700' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84332558-1', 'auto');
      </script>
    <% end %>

    <script>
      // https://github.com/filamentgroup/loadCSS
      !function(e){"use strict"
      var n=function(n,t,o){function i(e){return f.body?e():void setTimeout(function(){i(e)})}var d,r,a,l,f=e.document,s=f.createElement("link"),u=o||"all"
      return t?d=t:(r=(f.body||f.getElementsByTagName("head")[0]).childNodes,d=r[r.length-1]),a=f.styleSheets,s.rel="stylesheet",s.href=n,s.media="only x",i(function(){d.parentNode.insertBefore(s,t?d:d.nextSibling)}),l=function(e){for(var n=s.href,t=a.length;t--;)if(a[t].href===n)return e()
      setTimeout(function(){l(e)})},s.addEventListener&&s.addEventListener("load",function(){this.media=u}),s.onloadcssdefined=l,l(function(){s.media!==u&&(s.media=u)}),s}
      "undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this)
    </script>
    <style>
      .main-header,
      .main-navbar,
      .main-container,
      .main-footer {
        display: none;
      }
    </style>
    <script>
      loadCSS("/css/frontend.css")
    </script>


    <script src="<%= static_path(@conn, "/js/frontend.js") %>" async></script>

    <meta name="msvalidate.01" content="3F3F0DA3D9FF8AE3DA64D767717C782B" />

  </head>

  <body>

    <%= render Ap.SharedView, "header.html", conn: @conn, product_categories: @product_categories %>

    <div class="container main-container">
      <div class="row">
        <div class="col-md-12">
          <%= show_flash(@conn) %>
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </div>

    <%= render Ap.SharedView, "footer.html", conn: @conn %>

  </body>
</html>
