body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  overflow-x: hidden;

  @media(max-width: $screen-sm-min) {
    line-height: 1.4;
  }
}

.main-container {

  .alert {
    margin-top: 1em;
  }

  ul, ol, p {
    font-size: 1.4em;
    margin-bottom: 0.5em;

    @media(max-width: $screen-sm-min) {
      font-size: 1.2em;
    }
  }

  li p, li li, li ul {
    font-size: 1em;
  }

  a:not(.btn) {
    font-weight: bold;
    color: $primary;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid $primary;
    @media(max-width: $screen-sm-min) {
      border: none;
    }
  }

  a.img-link {
    display: block;
    border: none;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    > a {
      border-bottom: none;
      color: inherit;
    }
  }

  pre {
    font-size: 1em;
    margin: 1em auto;
    background: $dark;
    color: $light;
    font-weight: bold;
    border: none;
  }
}


img {
  width: 100%;
}

h1 {
  font-size: 4em;
  line-height: 1em;
}

h2 {
  font-size: 3em;
  line-height: 1.3em;
}

@media(max-width: $screen-sm-min) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
}


form {
  .alert {
    p {
      margin: 0;
      line-height: 1.4;
      font-size: 1.2em;
    }
  }

  .form-group {
    input + .help-block {
      color: $brand-danger;
    }
  }
}


.turbolinks-progress-bar {
  height: 3px;
  background-color: $white;
}
