// Config
@import "shared/config/variables";
@import "frontend/config/variables";
@import "shared/config/mixins";
@import "shared/config/phoenix-overrides";


// Bootstrap
@import "frontend/config/bootstrap-overrides";
@import "frontend/config/bootstrap";

// Components
@import "frontend/components/layout";
@import "frontend/components/header";
@import "frontend/components/widget";
@import "frontend/components/btn";
@import "frontend/components/browser";
@import "frontend/components/footer";
@import "frontend/components/footer-subscribe-widget";
@import "frontend/components/coming-soon-box";
@import "frontend/components/sticky";

// Pages
@import "frontend/pages/home";
@import "frontend/pages/product-list";
@import "frontend/pages/product-show";
@import "frontend/pages/contact";
@import "frontend/pages/post-list";
@import "frontend/pages/post-show";
