.home {
  .hero {
    padding-bottom: 4em;
    text-align: center;
  }

  &.newsletter-subscribe {
    margin: 3em auto;

    .footer-subscribe-widget {
      padding-top: 0;
      .hero {
        padding-bottom: 2em;
      }

      img {
        max-width: 100%;
      }
    }

  }
}
