.post-show  {
  .post-author-bio {
    padding-top: 3em;
    border-top: 1px solid darken($light, 6.25%);

    .social-links {
      font-size: 1.3em;
      margin-top: 1em;
      .social-link {
        display: inline-block;
        margin-right: 0.5em;
      }
    }
  }

  .post-sharing-buttons {
    padding: 3em 0;
    border-top: 1px solid darken($light, 6.25%);

    ul.share-buttons{
      list-style: none;
      padding: 0;
    }

    ul.share-buttons li{
      display: inline;
    }

    ul.share-buttons .sr-only {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }

    ul.share-buttons img{
      width: 32px;
    }

    ul.share-buttons a {
      display: inline-block;
      border: none;
      margin-right: 6px;
      transition: transform 0.1s ease-in;

      &:hover {
        transform: scale(1.1);
      }
    }
  }


  @media(min-width: $screen-sm-max) {
    .post-container {
      padding-right: 2em;
    }
  }
}
